<div class="row box">
  <div class="pull-right">
    <div style="text-align:center;">
      <%= user_avatar_tag(@user,:big, :link => false) %>
    </div>
  </div>

  <div class="userinfo span13">
    <%= render_user_level_tag(@user) %>
    <ul>
        <li style="text-align:right;">第 <%= @user.id %> 位<%= t("menu.users")%></li>
        <li> <span>ID:</span><strong><%= @user.login %></strong></li>
        <% if !@user.location.blank? %>
             <li><span><%= t("users.city")%>:</span><%= render_user_location(@user) %></li>
        <% end %>

        <li><span><%= t("users.join_time")%>:</span><%= render_user_join_time(@user) %></li>

        <% if !@user.tagline.blank? %>
            <li><span><%= t("users.signature")%>:</span><%= render_user_tagline(@user) %></li>
        <% end %>

        <% if !@user.github.blank? %>
            <li><span>Github:</span><%= render_user_github_url(@user) %> </li>
        <% end %>

        <% if !@user.website.blank? %>
            <li><span><%= t("users.personal_website")%>:</span><%= render_user_personal_website(@user)%></li>
        <% end %>
    </ul>
  </div>


</div>

<% if !@user.bio.blank? %>
  <div class="bio box">
    <h5>個人介绍</h5>
    <p><%= auto_link(simple_format(@user.bio)) %></p>
  </div>
<% end %>
