<% content_for :sitemap do %><span class="current">加入社区</span><% end %>
<div class="sidebar">
  <div class="box">
    <h2>还没有帐号？</h2>
    <%= render :partial => "devise/shared/links" %>
  </div>
  <div class="box">
        <h2>用其他平台的帐号登录</h2>
        <ul>

          <li><%= link_to "Github", user_omniauth_authorize_path(:github) %> </li>
        </ul>
    </div>
</div>
<div class="content">
    <div class="box">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <fieldset>
        <legend><%= t("common.login") %></legend>
        <div class="clearfix">
          <%= f.label :login %>
          <div class="input"><%= f.text_field :login %></div>
        </div>
        <div class="clearfix">
          <%= f.label :password %>
          <div class="input"><%= f.password_field :password %></div>
        </div>
        <% if devise_mapping.rememberable? -%>
        <div class="clearfix">
          <label></label>
          <div class="input">
            <div class="inputs-list"><label for="user_remember_me"><%= f.check_box :remember_me, :style => "width:auto;" %> <%= t("common.remember_me") %></label></div>
          </div>
        </div>
        <% end -%>
        <div class="actions">
          <%= f.submit t("common.login"), :class => "btn primary", :disable_with => t("common.logining") %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
