<% content_for :sitemap do %><span class="current">加入社区</span><% end %>
<div class="sidebar">
  <div class="box">
    <h2><%= t("users.already_have_account")%></h2>
    <p style="line-height:20px;">
      <%= render :partial => "devise/shared/links" %>
    </p>
  </div>
</div>
<div class="content">
    <div class="box">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <fieldset>
        <legend><%= t("users.register_user")%></legend>
        <%= render "shared/error_messages", :target => resource %> 
        <div class="clearfix">
          <%= f.label :login %>
          <div class="input">
            <%= f.text_field :login %><br />
            <span class="help-block"><%= t("users.suggest_using_twitter_id")%></span>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :name %>
          <div class="input"><%= f.text_field :name %></div>
        </div>
        <div class="clearfix">
          <%= f.label :email %>
          <div class="input"><%= f.text_field :email, :placeholder => "foo@bar.com" %></div>
        </div>
        <div class="clearfix"><%= f.label :password %>
          <div class="input"><%= f.password_field :password %></div>
        </div>
        <div class="clearfix"><%= f.label :password_confirmation %>
          <div class="input"><%= f.password_field :password_confirmation %></div>
        </div>
        <div class="actions">
          <%= f.submit t("common.submit"), :class => "btn primary", :disable_with => t("common.submitting") %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>

