//= require gfdynamicfeedcontrol
//= require gadget
.topics .topic .title a:link,
.topics .topic .title a:visited,
.node_topics .title a:link,
.node_topics .title a:visited {color:#2c64d7; text-decoration: none;}
.topics .topic  .title a:hover,
.node_topics .title a:hover { text-decoration: underline; }

.sidebar p { margin-bottom:8px;}

.topics {
   .topic {  
      .avatar_large { width:64px; }
      .avatar { width:56px; margin-left:10px; }
      .infos { padding-right:74px; }
      .right_info { padding-left:66px;}
      .title { font-size:14px; }
      .info { color:#999; margin-bottom:2px; }
      a:link, a:visited { color:#999; text-decoration: underline; }
      .replies { 
         width:70px; margin-right:10px; text-align:right; vertical-align:middle; 
         a.count,a.count:visited { line-height: 12px; font-weight: bold; color: white; 
           background-color: #1c7fdb; display: inline-block; 
           padding: 2px 10px 2px 10px; 
           -moz-border-radius: 12px; -webkit-border-radius: 12px; 
           margin: 18px 12px 0px 0px; text-decoration: none; 
         }
         a.count:hover { color:write; background-color:#1F8AEE; }
         a.state_true:link,a.state_true:visited { background:#DDD; }
         a.state_true:hover { background:#1dc115;}
      }
   }
   .body {
     margin-bottom:10px; margin-top:8px;
     img { max-width:690px;}
   }
   .tools { 
     text-align:right; height:16px; overflow:hidden;
     a.likeable { 
       i { position:relative; margin-bottom:-1px; }
       text-decoration: none;
     }
   }
   .topic_line {border-bottom:1px solid #DDD; padding:10px 0; margin:0 -10px; vertical-align:top; }
   tr.topic td.replies { text-align:right; width:50px; font-size:14px; color:green;font-weight:bold; }
}


#topic_show {
  h1 { font-size:20px; color:#333; margin-top:6px; text-align: left; line-height:100%;margin-bottom:8px;}
  .infos { 
    border-bottom:1px solid #ddd;
    padding-bottom:6px; margin-bottom:8px;
   }
}

.more { padding:8px; padding-bottom:0; font-size:14px; text-align:right; }
.share_buttons { height:22px; }
.pagination { margin:0; margin-top:10px; }


/* topics list in node page */

.node_topics {
  margin-bottom: 16px; 
  tr td {
    padding: 8px; }
  tr.head td {
    padding-top: 14px;
    color: #CCC;
    font-weight: bold;
    font-size: 12px; }
  tr.topic td.title {
    font-size: 14px;
    font-weight: bold; }
  tr.topic td.author {
      width: 80px; }
  tr.topic td.author a {
    color: #666;
    font-weight: bold; }
}

.no_result { margin-bottom:20px; text-align:center; }

#node_info { 
  margin:0 -10px; padding:0 10px; border-bottom:1px solid #ddd; 
  h1 { text-align:right; font-size:15px; }
  h2 { line-height:100%; display:inline; font-size:16px; margin-right:10px;}
  .desc { color:#999; }
  .feed {
    float: right;
    .icon { margin-bottom: -3px; }
    a {
      width: auto;
      padding-left: 18px;
      color: #B94E22;
      &:hover {
        text-decoration: none;
        color: #333;
      }
    }
  }
}

#replies {
  .total { padding-bottom:6px; color:#999; }
  .reply { 
    border-top:1px solid #DDD; padding:8px 10px; margin:0 -10px;
    .face { padding-right:8px; width:48px; margin-left:0; }
    .infos { padding-left:58px; }
    .info { 
      margin-top:4px; color:#999;height:20px;
      a:link,
      a:visited { color:#999; text-decoration: underline;}
      .name { float:left; }
      a.edit { display:none; }
      .time { float:right; text-align:right; }
      a.reply_link img { vertical-align:middle;}
    }
    .body { 
      img { max-width:622px;}
    }
  }
  .reply.light { background:#F7F2FC;}
}

#reply.form {
  .pills::after { clear:left;}
  textarea { width:578px; margin-bottom:10px;}
}


/* Topic & Reply body format */
.topics .topic .body, 
#replies .reply .body {
  line-height:180%; font-size:14px; text-overflow: ellipsis; word-wrap: break-word; 
  a:link, a:visited { color:#0069D6; text-decoration: none; }
  a:hover { text-decoration: underline; color:#00438A; }
  a.at_floor { color:#376B43; }
  a.at_user { 
    color:#333; font-weight:bold; 
    i { color:#777; }
  }
  h4 { font-weight:bold; font-size:13px; line-height:180%; margin:0; color:#aaa; margin-top:10px; }
  p { margin-bottom:10px; }
  ul,
  ol {
    list-style-position: inside;
    margin:0;
    padding:5px 14px;
    p { margin:0; }
    li { line-height:160%; }
  }
}

.edit_tools { text-align:left; margin-bottom:2px }

.totals ul li { line-height:150%;}

#topic_new_tip li { margin-bottom:6px;}

#topics_recent { 
  h2 { 
    margin:0 -10px; padding:0 10px;
    font-size:14px; color:#999; line-height:100%;
    border-bottom:1px solid #ddd; padding-bottom:8px;
  }
  .node {
    margin-right:6px;
    a { color:#333; background:#eee; -webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px; padding:3px;font-size:11px; }
  }
  .info { font-size:12px; color:#999; 
    margin-left:6px;
    a { color:#999; text-decoration: underline;}
  }
  ul {
    margin:0; padding:0;
    li {
      margin:0 -10px; padding:6px 10px;
      list-style:none; border-bottom:1px dashed #ddd;
    }
  }
  .more { }
}

#reply {
  form {
  }
  .editor_toolbar {
    width:588px;
  } 
}

.sidebar {
  .hot_nodes {
    ul {
      margin: 0;
      list-style: none;
      li {
        display: inline;
        margin: 0;
        padding: 0;
        a {
          display: inline-block;
          margin-right: 3px;
          margin-bottom: 6px;
          padding: 2px 10px;
          color: #778087;
          text-decoration: none;
          background-color: #f5f5f5;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          &:hover {
            color: white;
            background-color: #99a;
          }
        }
      }
    }
  }
  .suggest_topics {
    ul {
      li {
        line-height:130%;
        a {
          color:#AA2D19;
          font-size:12px;
        }
      }
    }
  }
}


#preview {
  /* copied from twitter bootstrap */
  margin-top:0px;
  border: 1px solid #ccc;
  padding:4px;
  min-height:400px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  #reply & {
    width:578px;
    margin-bottom:10px;
    min-height:72px;
  }
}
